

div.ingredients1,p{
    text-align: center;
    border: 1px solid lightgray;
    margin-right: 50%;
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 14px;
    padding: 9px 0;

}



.ingredients2{
    text-transform: uppercase;
    text-align: center;
    margin-right: 50%;
}








